<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css">
    <meta charset="UTF-8">
    <title>burgersssss</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../public/assets/js/burgers.js"></script>
  </head>
  <body id="grad">
    {{{ body }}}
  </body>
</html>