<h1>EAT THE BURGER</h1>

<div class="image">
<img src="../public/assets/img/krabby-patty.png" alt="krabby patty">
</div>

<h3>you know you want to</h3>

<div class="one">
  <h4>yet to be eaten</h4>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burgers-block devourable=true}}
    {{/unless}}
  {{/each}}
</div>

<div class="two">
  <h4>you've tried:</h4>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burgers-block2 devourable=false}}
    {{/if}}
  {{/each}}
</div>

<div class="clearfix"></div>
<!-- button that will submit user input into database -->
<form class="create">
  <label for="new">add a new burger</label>
  <br>
  <input class="nameo" type="text" name="burger"></input>
  <div class="clearfix"></div>
  <button type="submit">Make a Burger!</button>
</form>